@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Shopping List App!</h1>
    <br />
    <p>This application allows user to create a list for shopping with different shop locations.<br />
        Also, user can filter the result by shop names or item names.</p>
</div>
